<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>Thai's CV</title>
  <!-- Google Font -->
  <link href='http://fonts.googleapis.com/css?family=Dosis:300,400,500,600,700,800' rel='stylesheet' type='text/css'>
  <link href='http://fonts.googleapis.com/css?family=Montserrat:400,700' rel='stylesheet' type='text/css'>

  <!-- Font Awesome -->
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.1/css/all.min.css" />
  <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css">

  <!-- Preloader -->
  <link rel="stylesheet" href="public/css/preloader.css" type="text/css" media="screen, print" />

  <!-- Icon Font-->
  <link rel="stylesheet" href="public/style.css">
  <link rel="stylesheet" href="public/css/owl.carousel.css">
  <link rel="stylesheet" href="public/css/owl.theme.default.css">
  <!-- Animate CSS-->
  <link rel="stylesheet" href="public/css/animate.css">

  <!-- Bootstrap -->
  <link href="public/css/bootstrap.min.css" rel="stylesheet">



  <!-- Style -->
  <link href="public/css/style.css" rel="stylesheet">

  <!-- Responsive CSS -->
  <link href="public/css/responsive.css" rel="stylesheet">
  <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
  <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
  <!--[if lt IE 9]>
        <script src="js/lte-ie7.js"></script>
	  <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
	  <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
	<![endif]-->
</head>

<body>
  <!-- Preloader -->
  <div id="preloader">
    <div id="status">&nbsp;</div>
  </div>




  <header id="HOME" style="background-position: 50% -125px;">
    <div class="section_overlay">
      <nav class="navbar navbar-default navbar-fixed-top">
        <div class="container">
          <!-- Brand and toggle get grouped for better mobile display -->
          <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse"
              data-target="#bs-example-navbar-collapse-1">
              <span class="sr-only">Toggle navigation</span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
            </button>
            <!-- <a class="navbar-brand" href="#"><img src="public/images/logo.png" alt=""></a> -->
            <a class="navbar-brand" style="font-size:25px; color: #f73b56 ; font-weight: bold; " href="#">
              <span style="color:black">DINH</span>TH<i class="fas fa-at"></i>'I</a>
          </div>

          <!-- Collect the nav links, forms, and other content for toggling -->
          <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
            <ul class="nav navbar-nav navbar-right">
              <li><a href="#HOME">HOME</a></li>
              <li><a href="#SERVICE">SKILLS</a></li>
              <li><a href="#ABOUT">ABOUT</a></li>
              <li><a href="#TESTIMONIAL">TESTIMONIAL</a></li>
              <li><a href="#WORK">PROJECTS </a></li>
              <li><a href="#CONTACT">CONTACT</a></li>
            </ul>
          </div><!-- /.navbar-collapse -->
        </div><!-- /.container -->
      </nav>

      <div class="container">
        <div class="row">
          <div class="col-md-12 text-center">
            <div class="home_text wow fadeInUp animated">
              <h2>it’s about me</h2>
              <p>a intern backend nodejs</p>
              <img src="public/images/shape.png" alt="">
            </div>
          </div>
        </div>
      </div>

      <div class="container">
        <div class="row">
          <div class="col-md-12 text-center">
            <div class="scroll_down">
              <a href="#SERVICE"><img src="public/images/scroll.png" alt=""></a>
              <h4>Scroll Down</h4>
            </div>
          </div>
        </div>
      </div>
    </div>
    </section>
  </header>


  <section class="services" id="SERVICE">
    <div class="container">
      <div class="row">
        <div class="col-md-3 text-center">
          <div class="single_service wow fadeInUp " data-wow-delay="2s">
            <i class="fas fa-laptop-code"></i>
            <h2>CODE</h2>
            <!-- <div style="text-align: left"> -->
            <p>JS:Ability to work with ES5,ES6;
            <p>Nodejs:Ability to work with framework: Express.js
            <p>Knowledge of view engine ejs,hbs...
            <p>Knowledge of front-end technologies HTML, CSS, JS</p>
            <!-- </div> -->
          </div>
        </div>
        <div class="col-md-3 text-center">
          <div class="single_service wow fadeInUp" data-wow-delay="3s">
            <i class="fas fa-code-branch"></i>
            <h2>Version Control</h2>
            <p>Git:Ability to work with version control system :Git</p>
          </div>
        </div>
        <div class="col-md-3 text-center">
          <div class="single_service wow fadeInUp" data-wow-delay="1s">
            <i class="fas fa-book-reader"></i>
            <h2>English reading</h2>
            <p>Can read documents written in English</p>
          </div>
        </div>
        <div class="col-md-3 text-center">
          <div class="single_service wow fadeInUp" data-wow-delay="4s">
            <i class="fas fa-database"></i>
            <h2>Database</h2>
            <p>Mongodb:Ability to work with DBMS :MongoDB</p>
            <p>SQLserver:Knowledge of SQlserver </p>
          </div>
        </div>
      </div>
    </div>
  </section>
  <section class="about_us_area" id="ABOUT">
    <div class="container">
      <div class="row">
        <div class="col-md-12 text-center">
          <div class="about_title">
            <h2>About Me</h2>
            <img src="public/images/shape.png" alt="">
          </div>
        </div>
      </div>
    </div>
    <div class="container">
      <div class="row">
        <div class="col-md-4  wow fadeInLeft animated">
          <div class="single_progress_bar">
            <h2>8/2019 | UNIVERSITY </h2>
            <div class="progress">
              <div class="progress-bar" role="progressbar" aria-valuenow="60" aria-valuemin="0" aria-valuemax="100"
                style="width: 100%;">
                <!-- <span class="sr-only">60% Complete</span> -->
              </div>
            </div>
          </div>
          <div class="single_progress_bar">
            <h2>8/2020 | UNIVERSITY</h2>
            <div class="progress">
              <div class="progress-bar" role="progressbar" aria-valuenow="60" aria-valuemin="0" aria-valuemax="100"
                style="width: 100%;">
                <span class="sr-only">60% Complete</span>
              </div>
            </div>
          </div>
          <div class="single_progress_bar">
            <h2>8/2021 | UNIVERSITY</h2>
            <div class="progress">
              <div class="progress-bar" role="progressbar" aria-valuenow="50" aria-valuemin="0" aria-valuemax="50"
                style="width: 100%;">
                <!-- <span class="sr-only">60% Complete</span> -->
              </div>
            </div>
          </div>
          <div class="single_progress_bar">
            <h2>2022 | UNIVERSITY</h2>
            <div class="progress">
              <div class="progress-bar" role="progressbar" aria-valuenow="60" aria-valuemin="0" aria-valuemax="100"
                style="width:50%;">
                <!-- <span class="sr-only">60% Complete</span> -->
              </div>
            </div>
          </div>
        </div>
        <div class="col-md-4  wow fadeInRight animated">
          <!-- <p class="about_us_p"><b>Mục tiêu nghề nghiệp </b>Áp dụng được những kiến thức đã học trên giảng đường vào các công việc thực
                        tiễn đồng thời giúp bản thân rèn luyện kỹ năng lập trình và tích lũy thêm nhiều kinh nghiệm
                        trong môi trường làm việc chuyên nghiệp.</p> -->
          <p class="about_us_p"> Full name: Kieu Dinh Thai</p>
          <p class="about_us_p"> Date of Birth: 3rd June 2000 </p>
          <p class="about_us_p"> Address: Thach That 2-Tan Ha-Lam Ha-Lam Dong</p>
          <p class="about_us_p"> Phone: +84395872131</p>
          <p class="about_us_p"> Email: kieudinhthai36200@gmail.com</p>

        </div>
        <div class="col-md-4  wow fadeInRight animated">
          <p class="about_us_p"><b>Career goals:</b> Apply the knowledge learned in university to develop ourselves and
            application in real work, practice programming skills and gain more experience in a professional working
            environment.
            responsible for work, responsible for passion</p>
        </div>
      </div>
    </div>
  </section>


  <section class="testimonial text-center wow fadeInUp animated" id="TESTIMONIAL">
    <div class="container">
      <div class="icon">
        <i class="icon-quote"></i>
      </div>
      <div class="owl-carousel">
        <div class="single_testimonial text-center wow fadeInUp animated">
          <p>I always try to learn beacause .................</p>

          <!-- // <h4>-JOHN DOE</h4> -->
        </div>
        <div class="single_testimonial text-center">
          <p>I want to develop myself to keep pace with the changes of </br>the era in my profession.</p>

        </div>
      </div>
    </div>
  </section>


  <div class="fun_facts">
    <section class="header parallax home-parallax page" id="fun_facts" style="background-position: 50% -150px;">
      <div class="section_overlay">
        <div class="container">
          <div class="row">
            <div class="col-md-6 wow fadeInLeft animated">
              <div class="row">
                <div class="col-md-6">
                  <div class="single_count">
                    <i class="fas fa-university"></i>
                    <span class="ml-2 text-uppercase" style="font-size:20px ; color:white; font-weight:bold">Industrial
                      University
                      Of HoChiMinh City</span>
                  </div>
                </div>
                <div class="col-md-6">
                  <div class="single_count">
                    <i class="fas fa-laptop "> </i> <span class="ml-2 text-uppercase"
                      style="font-size:20px ; color:white; font-weight:bold">Faculty of
                      Information Technology</span>

                  </div>
                </div>
                <!-- <div class="col-md-4">
                                    <div class="single_count">
                                        <i class="far fa-file-code mr-2"></i>
                                        <span style="font-size:20px ; color:white; font-weight:bold"> 4 Project</span>
                                    </div>
                                </div> -->
              </div>
            </div>
            <div class="col-md-5 col-md-offset-1 wow fadeInRight animated">
              <div class="imac">
                <img src="public/images/imac.png" alt="">
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
  </div>
  <section class="work_area" id="WORK">
    <div class="container">
      <div class="row">
        <div class="col-md-12 text-center">
          <div class="work_title  wow fadeInUp animated">
            <h1>PROJECT COMPLETED</h1>
            <img src="public/images/shape.png" alt="">
            <p>Completed personal nodejs projects and school curriculum. </p>
          </div>
        </div>
      </div>
    </div>
    <div class="container-fluid">
      <div class="row">
        <div class="col-md-4 no_padding">
          <div class="single_image">
            <img src="public/images/coffeeshop.png" alt="">
            <div class="image_overlay">
              <a href="https://pic-coffee-shop.herokuapp.com/">View Full Project</a>
              <h2>Coffee Shop </h2>
              <h4>Build with Expres.js</h4>
            </div>
          </div>
        </div>
        <div class="col-md-4 no_padding">
          <div class="single_image">
            <img src="public/images/mail.png" alt="">
            <div class="image_overlay">
              <a href="https://chat-app-bassic.herokuapp.com/">View Full Project</a>
              <h2>Mail Sending </h2>
              <h4>Build with Expres.js</h4>
            </div>
          </div>
        </div>
        <div class="col-md-4 no_padding">
          <div class="single_image">
            <img src="public/images/localbeach.pnd.PNG" alt="">
            <div class="image_overlay">
              <a href="https://pic-coffee-shop.herokuapp.com/">Can't View Full Project</a>
              <h2>Local Beach </h2>
              <h4>Build with Expres.js</h4>

            </div>
          </div>
        </div>
        <!-- <div class="row pad_top">
                <div class="col-md-4 no_padding">
                    <div class="single_image">
                        <img src="public/images/w4.jpg" alt="">
                        <div class="image_overlay">
                            <a href="">View Full Project</a>
                            <h2>drawing</h2>
                            <h4>with pencil colors</h4>
                        </div>
                    </div>
                </div> -->
        <!-- <div class="col-md-4 no_padding">
                    <div class="single_image">
                        <img src="public/images/w5.jpg" alt="">
                        <div class="image_overlay">
                            <a href="">View Full Project</a>
                            <h2>drawing</h2>
                            <h4>with pencil colors</h4>
                        </div>
                    </div>
                </div> -->
        <!-- <div class="col-md-4 no_padding">
                    <div class="single_image last_padding">
                        <img src="public/images/w6.jpg" alt="">
                        <div class="image_overlay">
                            <a href="">View Full Project</a>
                            <h2>drawing</h2>
                            <h4>with pencil colors</h4>
                        </div>
                    </div>
                </div> -->
      </div>
    </div>
  </section>
  <section class="about_us_area" id="ABOUT">
    <div class="container">
      <div class="row">
        <div class="col-md-12 text-left">
          <div class="left">
            <h2>Detail Projects</h2>
            <!-- // <img src="public/images/shape.png" alt="">  -->
          </div>
        </div>
      </div>
    </div>
    <div class="container">
      <div class="row">
        <div class="col-md-4  wow fadeInRight animated">
          <!-- <p class="about_us_p"><b>Mục tiêu nghề nghiệp </b>Áp dụng được những kiến thức đã học trên giảng đường vào các công việc thực
                        tiễn đồng thời giúp bản thân rèn luyện kỹ năng lập trình và tích lũy thêm nhiều kinh nghiệm
                        trong môi trường làm việc chuyên nghiệp.</p> -->
          <p class="about_us_p"> Project name: <b>Piccolo coffee shop</b></p>
          <p class="about_us_p"> Position: Back-end Developer </p>
          <p class="about_us_p"> Descripton: </p>
          <ul>
            <li>Users: Show all products in the Piccolo's menu allow user to search. Select and view detail information
              about product. </li>
            <li>Admin: Manage all products, insert a new product, edit ,delete product, login and logout to admin page
            </li>
          </ul>
          <p class="about_us_p"> Technologies Used:</p>
          <ul>
            <li>Using Express.js to build application </li>
            <li>Using view engine Ejs </li>
            <li>Using Cloud-hosted MongoDB </li>
            <li>Using Githup to manage source code </li>
          </ul>
          <p class="about_us_p"> Source code: <a
              href="https://github.com/kieudinhthai/baitaplon_cnlaptrinhtichhopnangcao.git">Piccolo Coffee Shop source
              code</a></p>
          <p class="about_us_p"> Demo : <a href="https://pic-coffee-shop.herokuapp.com/">Piccolo Coffee Shop demo</a>
          </p>

        </div>
        <div class="col-md-4  wow fadeInRight animated">
          <!-- <p class="about_us_p"><b>Mục tiêu nghề nghiệp </b>Áp dụng được những kiến thức đã học trên giảng đường vào các công việc thực
                        tiễn đồng thời giúp bản thân rèn luyện kỹ năng lập trình và tích lũy thêm nhiều kinh nghiệm
                        trong môi trường làm việc chuyên nghiệp.</p> -->
          <p class="about_us_p"> Project name: <b>Mail Sending</b></p>
          <p class="about_us_p"> Position: Back-end Developer </p>
          <p class="about_us_p"> Descripton: </p>
          <ul>
            <li>All Users: Login, Logout, Register an accout, Show all email received and sent , allow user to search by
              email. Select and view detail information about email, delete and restore an email.</li>

          </ul>
          <p class="about_us_p"> Technologies Used:</p>
          <ul>
            <li>Using Express.js to build application </li>
            <li>Using view engine Ejs </li>
            <li>Using Cloud-hosted MongoDB </li>
            <li>Using Githup to manage source code </li>
          </ul>
          <p class="about_us_p"> Source code: <a href="https://github.com/kieudinhthai/mailProject">Chating source
              code</a></p>
          <p class="about_us_p"> Demo : <a href="https://chat-app-bassic.herokuapp.com/">Chating demo</a></p>

        </div>
        <div class="col-md-4  wow fadeInRight animated">
          <!-- <p class="about_us_p"><b>Mục tiêu nghề nghiệp </b>Áp dụng được những kiến thức đã học trên giảng đường vào các công việc thực
                        tiễn đồng thời giúp bản thân rèn luyện kỹ năng lập trình và tích lũy thêm nhiều kinh nghiệm
                        trong môi trường làm việc chuyên nghiệp.</p> -->
          <p class="about_us_p"> Project name: <b>Admin local beach</b></p>
          <p class="about_us_p"> Position: Back-end Developer </p>
          <p class="about_us_p"> Company: Aube one member company limited </p>
          <p class="about_us_p"> Descripton: </p>
          <ul>
            <li>Admin: Manage all products,category,contact,public infomation ..., insert a new product, edit ,delete
              product, login and logout to admin page, </li>
          </ul>
          <p class="about_us_p"> Technologies Used:</p>
          <ul>
            <li>Using Express.js to build application </li>
            <li>Using view engine Ejs </li>
            <li>Using axios library to call api </li>
            <li>Using database MongoDB </li>
            <li>Using Gitlab to manage source code </li>
          </ul>
          <!-- <p class="about_us_p"> Source code: <a href="https://github.com/kieudinhthai/baitaplon_cnlaptrinhtichhopnangcao.git">Piccolo Coffee Shop source code</a></p>
                    <p class="about_us_p"> Demo : <a href="https://chat-app-bassic.herokuapp.com/">Piccolo Coffee Shop demo</a></p> -->

        </div>
      </div>
    </div>
  </section>
  <section class="call_to_action">
    <div class="container">
      <div class="row">
        <div class="col-md-8 wow fadeInLeft animated">
          <div class="left">
            <h2>View all my projects?</h2>
            <p>
              You can find all my repositories here!</p>
          </div>
        </div>
        <div class="col-md-3 col-md-offset-1 wow fadeInRight animated">
          <div class="baton">
            <a href="https://github.com/kieudinhthai">
              <button type="button" class="btn btn-primary cs-btn">Let's Talk</button>
            </a>
          </div>
        </div>
      </div>
    </div>
  </section>
  <section class="contact" id="CONTACT">
    <div class="container">
      <div class="row">
        <div class="col-md-12 text-center">
          <div class="contact_title  wow fadeInUp animated">
            <h1>get in touch</h1>
            <img src="public/images/shape.png" alt="">
            <p>Call or send a message to me if you have any questions. I promise to reply you soon</p>
          </div>
        </div>
      </div>
    </div>
    <div class="container">
      <div class="row">
        <div class="col-md-3  wow fadeInLeft animated">
          <div class="single_contact_info">
            <h2>Call Me</h2>
            <p>+84395872131</p>
          </div>
          <div class="single_contact_info">
            <h2>Email Me</h2>
            <p>kieudinhthai36200@gmail.com</p>
          </div>
          <div class="single_contact_info">
            <h2>Address</h2>
            <p>Tan Ha- Lam Ha- Lam Dong</p>
          </div>
        </div>
        <div class="col-md-9  wow fadeInRight animated">
          <form class="contact-form" action="">
            <div class="row">
              <div class="col-md-6">
                <input type="text" class="form-control" id="name" placeholder="Name">
                <input type="email" class="form-control" id="email" placeholder="Email">
                <input type="text" class="form-control" id="subject" placeholder="Subject">
              </div>
              <div class="col-md-6">
                <textarea class="form-control" id="message" rows="25" cols="10"
                  placeholder="  Message Texts..."></textarea>
                <button type="button" id="send-message" class="btn btn-default submit-btn form_submit">SEND
                  MESSAGE</button>
              </div>
            </div>
          </form>
        </div>
      </div>
    </div>
    <div class="container">
      <div class="row">
        <div class="col-md-12 text-center">
          <div class="work-with   wow fadeInUp animated">
            <h3>looking forward to hearing from you!</h3>
          </div>
        </div>
      </div>
    </div>
  </section>

  <footer>
    <div class="container">
      <!-- <div class="container">
                <div class="row">
                    <div class="col-md-12 text-center">
                        <div class="footer_logo   wow fadeInUp animated">
                            <img src="public/images/logo.png" alt="">
                        </div>
                    </div>
                </div>
            </div> -->
      <div class="container">
        <div class="row">
          <div class="col-md-12 text-center   wow fadeInUp animated">
            <div class="social">
              <h2>Follow Me on Here</h2>
              <ul class="icon_list">
                <li><a href="https://www.facebook.com/kieu.thai.36020"><i class="fa fa-facebook"></i></a></li>
                <li><a href="https://twitter.com/_Kieu03"><i class="fa fa-twitter"></i></a></li>
                <!-- <li><a href=""><i class="fa fa-google-plus"></i></a></li> -->
                <li><a href="https://www.instagram.com/___kieu/"><i class="fab fa-instagram"></i></a></li>
                <li><a href="http://t.me/KieuDinhThai"><i class="fab fa-telegram-plane"></i></a></li>
                <!-- <li><a href=""><i class="fab fa-github"></i></a></li> -->
            </div>
          </div>
        </div>
      </div>
      <div class="container">
        <div class="row">
          <div class="col-md-12 text-center">
            <div class="copyright_text   wow fadeInUp animated">
              <p>&copy; Remakes by Thai. All Right Reserved By <a href="http://www.themeforest.net/user/thecodecafe"
                  target="_blank">Code Cafe
                  Team</a></p>
              <p>Thanks for watching.</p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </footer>











  <!-- =========================
     SCRIPTS 
============================== -->
  <script src="https://cdn.jsdelivr.net/npm/sweetalert2@10/dist/sweetalert2.all.min.js"></script>
  <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
  <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
    integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
    crossorigin="anonymous"></script>
  <script src="src/assets/main.js"></script>
  <script src="src/assets/sweetalert2.all.min.js"></script>
  <script src="public/js/jquery.min.js"></script>
  <script src="public/js/bootstrap.min.js"></script>
  <script src="public/js/jquery.nicescroll.js"></script>
  <script src="public/js/owl.carousel.js"></script>
  <script src="public/js/wow.js"></script>
  <script src="public/js/script.js"></script>


</body>

</html>